sentinel/playbooks/revoke-erp-session/azuredeploy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "PlaybookName": {
      "defaultValue": "ERP-Revoke-Session",
      "type": "string"
    },
    "WorkspaceName": {
      "defaultValue": "law-erp-sentinel",
      "type": "string"
    }
  },
  "variables": {
    "MicrosoftSentinelConnectionName": "MicrosoftSentinel",
    "AzureADConnectionName": "AzureAD"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('AzureADConnectionName')]",
      "location": "[resourceGroup().location]",
      "properties": {
        "displayName": "AzureAD",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuread')]"
        }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('MicrosoftSentinelConnectionName')]",
      "location": "[resourceGroup().location]",
      "properties": {
        "displayName": "MicrosoftSentinel",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('PlaybookName')]",
      "location": "[resourceGroup().location]",
      "dependsOn": [
        "[variables('AzureADConnectionName')]",
        "[variables('MicrosoftSentinelConnectionName')]"
      ],
      "tags": {
        "project": "erp-identity-security",
        "environment": "lab"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Entities_-_Get_Accounts": {
              "type": "ApiConnection",
              "inputs": {
                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/entities/account"
              }
            },
            "For_each_account": {
              "type": "Foreach",
              "foreach": "@body('Entities_-_Get_Accounts')?['Accounts']",
              "actions": {
                "Revoke_user_sessions": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azuread']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/v1.0/users/@{items('For_each_account')?['AadUserId']}/revokeSignInSessions"
                  }
                },
                "Add_comment_to_incident": {
                  "type": "ApiConnection",
                  "runAfter": {
                    "Revoke_user_sessions": ["Succeeded"]
                  },
                  "inputs": {
                    "body": {
                      "incidentArmId": "@triggerBody()?['object']?['id']",
                      "message": "<p>AUTOMATED RESPONSE: All active sessions revoked for user @{items('For_each_account')?['Name']} at @{utcNow()}. Reason: ERP credential stuffing or MFA fatigue detected. Manual review required.</p>"
                    },
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/Incidents/Comment"
                  }
                }
              },
              "runAfter": {
                "Entities_-_Get_Accounts": ["Succeeded"]
              }
            },
            "Update_incident_status": {
              "type": "ApiConnection",
              "runAfter": {
                "For_each_account": ["Succeeded"]
              },
              "inputs": {
                "body": {
                  "incidentArmId": "@triggerBody()?['object']?['id']",
                  "status": "Active",
                  "severity": "High"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "put",
                "path": "/Incidents"
              }
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuread": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureADConnectionName'))]",
                "connectionName": "[variables('AzureADConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuread')]"
              },
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
                "connectionName": "[variables('MicrosoftSentinelConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
              }
            }
          }
        }
      }
    }
  ]
}